@import "compass"
@import "base"

html
  position: relative
  height: 100%
  width: 100%
  overflow-x: hidden
body
  display: flex
  flex-direction: column
  min-height: 100%
  font-family: $Roboto
  width: 100%
  -webkit-font-smoothing: antialiased


//////////////////////////////////////////////////////////////////Navbar Styling
.navbar
  background-color: $PrimaryColor
  height: 50px
  width: 100%
  position: fixed
  top: 0
  left: 0
  margin: 0
  position: relative
  z-index: 3
.navbar-content
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center
.navbar-logo
  flex-grow: 1
  vertical-align: middle
  +hide-text
  width: auto
  max-width: 100px
  max-height: 30px
  margin: 10px 0
  background:
    image: url(../img/leap.svg)
    repeat: no-repeat
    position: center center
    size: contain
  &:hover
    cursor: pointer
.navbar-links
  text-align: right
  display: flex
  margin-right: 20px
.navbar-links > ul
  margin: 0
  height: 50px
  line-height: 50px
  // max-height: 50px
.navbar-links > ul > li
  +normalize-links
  display: inline
  vertical-align: middle
  margin-right: 20px
  &.is-active
    color: pink
.dropdown
  position: absolute
  top: 50px
  right: -300px
  display: flex
  flex-direction: column
  height: auto
  padding: 0 !important
.dropdown > li
  background-color: $TertiaryColor
  +normalize-links
  display: none !important
  padding: 10px 20px 10px 50px
  animation: dropdown 500ms cubic-bezier(0, 0, 0.3, 1) forwards
  &:hover
    background-color: $PrimaryColor
.isDown > li
  display: block !important


//////////////////////////////////////////////////////////////////Footer Styling
.footer
  background-color: $PrimaryColor
  height: 135px
  width: 100%
  position: relative
  bottom: 0px
  left: 0px
  z-index: 3
  margin-top: 10px
.footer-content
  height: 100%
  display: flex
  justify-content: flex-end
  flex-direction: row
.contact
  display: flex
  flex-direction: row
  font-family: $Roboto
  color: white
  padding-left: 0
  margin-top: 30px
  margin-right: 300px
.contact-head
  font-size: 25px
  font-weight: 500
  line-height: 30px
  margin: 0 0 10px
.contact-info
  font-size: 18px
  font-weight: 300
  margin: 0
.contact-col
  max-width: 200px
  flex-wrap: wrap
  padding: 0 40px 0 0
.socmed
  display: flex
  flex-direction: row
  margin-top: 30px
  margin-right: 30px
.socmed-img
  height: 24px
  margin: 4px
  &:hover
    cursor: pointer

//////////////////////////////////////////////////////////////////Land Page Styling
.land-page
  width: 100%
  min-height: calc(100vh - 299px)
  margin-top: 100px
  background-color: white
  display: inline-block
.device-mocks
  position: absolute
  top: 150px
  left: 0
  width: 20%
#phonemock
  background-image: url('../img/phone-mock.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom left
  animation: LandSlide 1800ms cubic-bezier(0, 0, 0.1, 1) forwards
  animation-delay: 300ms
  opacity: 0
  height: 550px
  width: 175px
  margin-left: 30px
  position: absolute
#laptopmock
  background-image: url('../img/laptop-mock.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: center right
  position: absolute
  margin: 0
  opacity: 0
  animation: LandSlide 1800ms cubic-bezier(0, 0, 0.3, 1) forwards
  height: 550px
  width: 1100px
.land-content
  position: relative
  z-index: 1
  float: right
  width: 30%
  margin-right: 30px
  opacity: 0
  animation: FadeIn 1000ms ease-in forwards
  animation-delay: 800ms
#phrase
  position: relative
  width: 100%
  margin-bottom: 40px
  width: 100%
.signUpCTA
  +normalize-links
  font-family: $Roboto
  font-size: 20px
  text-align: center
  color: white
  background-color:  $PrimaryColor
  border: none
  border-radius: 5px
  width: 75px
  display: block
  margin: auto
  margin-bottom: 100px
  padding: 10px 25px
.badges
  display: flex
  justify-content: center
  margin: auto
.badges > img
  height: 40px
  padding: 0 10px !important
  margin: 0 !important

//////////////////////////////////////////////////////////////////Auth Page Styling
.auth-page
  width: 100%
  min-height: calc(100vh - 295px)
  margin-top: 100px
  background-color: white
  display: flex
  flex-direction: column
  .auth
    width: 500px
    margin: 0 auto
    text-align: center
    h1
      font-style: bold
      font-size: 65px
      color: $SecondaryColor
      display: block
      margin-bottom: 0
    h3
      font-size: 30px
      font-style: italic
      font-weight: 100
      color: $PrimaryColor
      margin-top: 0
      padding-left: 100px

    input
      display: flex
      flex-direction: column
      margin: 10px auto
      width: 60%
      border-radius: 2px
      border: 0
      height: 20px
      background-color: $SecondaryColor
      color: white
      padding: 10px
//////////////////////////////////////////////////////////////////Animations
@keyframes LandSlide
  0%
    transform: translate3d(-2000px, 0px, 0px)
    opacity: 1
  100%
    transform: translate3d(0px, 0px, 0px)
    opacity: 1
@keyframes FadeIn
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes dropdown
  0%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(-300px, 0, 0)


@media (max-width : 1525px)
  .land-content
    display: block
    position: relative
  #laptopmock
    width: 750px
