<ng-include src="'/src/components/nav/Nav.html'" ng-if="home.showNav"></ng-include>
<div class="home-page page">
  <ng-include src="'/src/components/sidenav/SideNav.html'"></ng-include>
  <div class="home-wrap">
    <div class="content">
      <div class="user-wrap">
        <div class="userProfPic"></div>
        <div class="username">
          <h3>{{home.userDB.username}}</h3>
        </div>
      </div>
      <div class="userDisplay-wrap">
        <div class="recent-activity">
          <table>
            <thead>
              <tr>
                <th>Recent Activity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>added task 1</td>
                <td>4 hours ago</td>
              </tr>
              <tr>
                <td>added task 2</td>
                <td>10 hours ago</td>
              </tr>
              <tr>
                <td>added task 3</td>
                <td>3 days ago</td>
              </tr>
              <tr>
                <td>added task 4</td>
                <td>yesterday</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="starred">
          <h3>Starred</h3>
          <button ng-click="home.reload()">reload</button>
          <hr>
          <ul class="nav nav-tabs">
            <li ng-repeat="tab in home.tabs" ng-class="{active:  home.checkTab(tab.bat)}" ng-click="home.tabSelect(tab.bat)">
              <a href="">{{tab.title}}</a>
            </li>
          </ul>
          <div class="starred-items">
            <h5 ng-show="home.checkTab('day')">day content</h5>
            <h5 ng-show="home.checkTab('week')">week content</h5>
            <h5 ng-show="home.checkTab('month')">month content</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
