<ng-include src="'/src/partials/Nav.html'" ng-if="auth.showNav"></ng-include>
<div class="auth-page">
  <div class="auth">
    <h1>Sign up!</h1>
    <h3>it's free!</h3>
    <div id="register-wrap" ng-show="!authSwitch">
      <input placeholder="username" type="username" ng-model="auth.username">
      <input placeholder="email" type="email" ng-model="auth.email">
      <input placeholder="password" type="password" ng-model="auth.password">
      <div class="authSwitch-row">
        <p>Already have an account?</p>
        <a ng-click="authSwitch = !authSwitch">Login</a>
      </div>
      <div class="signUpCTA" ng-click="auth.createUser()">
        {{auth.create}}
      </div>
      <p>{{auth.error}}</p>
    </div>
    <div id="login-wrap" ng-show="authSwitch">
      <input placeholder="email" type="email" ng-model="auth.email">
      <input placeholder="password" type="password" ng-model="auth.password">
      <div class="authSwitch-row">
        <p>Don't have an account yet?</p>
        <a ng-click="authSwitch = !authSwitch">Register</a>
      </div>
      <div class="signUpCTA" ng-click="auth.loginUser()">
        {{auth.login}}
      </div>
    </div>
  </div>
</div>
<ng-include src="'/src/partials/Footer.html'" ng-if="auth.showFooter"></ng-include>
