<div class="container-fluid">
  <div class="col-xs-12 footer">
    <div class="row footer-content">
      <div class="col-xs-offset-4 col-xs-2 socmed">
        <img src="../src/img/socmed_android.png" alt="Facebook" class="pull-right" id="socmed-fb">
        <img src="../src/img/socmed_apple.png" alt="Apple" class="pull-right" id="socmed-apple">
        <img src="../src/img/socmed_github.png" alt="Github" class="pull-right" id="socmed-github">
        <img src="../src/img/socmed_instagram.png" alt="Instagram" class="pull-right" id="socmed-instagram">
        <img src="../src/img/socmed_twitter.png" alt="Twitter" class="pull-right" id="socmed-twitter">
        <img src="../src/img/socmed_fb.png" alt="Facebook" class="pull-right" id="socmed-fb">
      </div>
      <div class="col-xs-6 contact">
        <div class="col-xs-2 contact-email">
          <p class="contact-head">Email</p>
        </div>
        <div class="col-xs-2 contact-phone">
          <p class="contact-head">Phone</p>
        </div>
        <div class="col-xs-2 contact-address">
          <p class="contact-head">Address</p>
        </div>
      </div>
    </div>
  </div>
</div>
