<div class="footer" ng-controller="FooterCtrl">
  <div class="footer-content">
    <div class="socmed">
      <div ng-repeat="img in socmed">
        <img src="{{getImagePath(img)}}" class="socmed-img" alt="Social media"/>
      </div>
    </div>
    <div class="contact">
      <div class="contact-col" ng-repeat="contact in contacts">
        <p class="contact-head">
          {{contact.head}}
        </p>
        <p class="contact-info">
          {{contact.info}}
        </p>
      </div>
    </div>
  </div>
</div>
