<div class="home-page">
  <div class="sidenav">
    <div class="userInfo row">
      <ul>
        <li>
          <img src="/src/img/userIcons/profpic.png" alt="">
          <h4>username1</h4>
        </li>
      </ul>
    </div>
    <div class="userLinks">
      <ul>
        <li>
          <img src="/src/img/userIcons/tasks.png" alt="">
          <h4>Tasks</h4>
        </li>
        <li>
          <img src="/src/img/userIcons/graph.png" alt="">
          <h4>Stats</h4>
        </li>
        <li>
          <img src="/src/img/userIcons/calendar.png" alt="">
          <h4>Calendar</h4>
        </li>
        <li>
          <img src="/src/img/userIcons/bell.png" alt="">
          <h4>Notifications</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-wrap">
    <div class="content">
    </div>
  </div>
</div>
