<nav class="navbar" ng-controller="NavCtrl">
  <div class="navbar-content">
    <h1 class="navbar-logo" ng-click="navigate('land'); dropdownToggle = false">{{logo}}</h1>
    <div class="navbar-links">
      <ul>
        <li ng-click="navigate('auth')">
          {{login}}
        </li>
        <li>
          <i class="fa fa-bars" aria-hidden="true" ng-click="dropdownToggle = !dropdownToggle"></i>
        </li>
      </ul>
    </div>
  </div>
  <ul class="dropdown" ng-show="dropdownToggle" ng-click="dropdownToggle = false">
    <li ng-repeat="choice in dropdownItems" ng-click="navigate(choice.route)">
      {{choice.name}}
    </li>
  </ul>
</nav>
