<nav class="navbar" ng-controller="NavCtrl">
  <div class="navbar-content">
    <h1 class="navbar-logo" ng-click="navigate('Home')">{{logo}}</h1>
    <div class="navbar-links">
      <ul>
        <li ng-click="navigate('Auth')">
          {{login}}
        </li>
        <li>
          <i class="fa fa-bars" aria-hidden="true" ng-click="dropdown()">
            <ul class="dropdown" ng-class="{'isDown': isDown}">
              <li ng-repeat="choice in dropdownItems" ng-click="navigate(choice.route)">
                {{choice.name}}
              </li>
            </ul>
          </i>
        </li>
      </ul>
    </div>
  </div>
</nav>
