@font-face {
    font-family: SouvenirStd-DemiItalic;
    src: url(../fonts/SouvenirStd-DemiItalic.otf);
}

@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
  position: relative;
  min-height: 100%;
}

#navbar-logo {
  height: 100%;
}

#navbar-logo a {
  font-family: SouvenirStd-DemiItalic;
  font-size: 28px;
  line-height: 28px;
  position: relative;
  top: 16%;
}

#navbar-links {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 16px;
  height: 100%;
  padding-right: 15px;
}

#navbar-links a {
  position: relative;
  top: 25%;
}

.navbar-container {
 height: 50px;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
}

.navbar-container a:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-custom {
  background-color: #00aeef;
  height: 50px;
}

.footer {
  background-color: #00aeef;
  height: 125px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.footer-content {
  padding-top: 15px;
}

.socmed img {
  height: 24px;
  margin: 3px;
}

.contact {
  padding-left: 0px;
}

.contact-head {
  Font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  vertical-align: middle;
}


.contact-info {
  Font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  vertical-align: middle;
}

p {
  margin-bottom: 5px;
}
