@import 'https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,500,700';
@font-face {
  font-family: "SouvenirStd-DemiItalic";
  src: url(../fonts/SouvenirStd-DemiItalic.otf);
}
/* line 58, ../sass/_base.sass */
hr {
  border-top: none;
  border-bottom: 1px solid rgba(63, 63, 63, 0.5) !important;
  margin: 10px 0 !important;
}

/* line 64, ../sass/_base.sass */
.ng-scope {
  height: 100%;
}

/* line 4, ../sass/styles.sass */
html {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/styles.sass */
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/styles.sass */
html, body, .app {
  height: 100vh;
  overflow: hidden;
}

/* line 21, ../sass/styles.sass */
.auth-page, .home-page, .settings-page {
  background-color: #363636;
}

/* line 26, ../sass/styles.sass */
.navbar {
  background-color: #00aeef;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  position: relative;
  z-index: 3;
  border-radius: 0px !important;
  -webkit-box-shadow: 0px -20px 24px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -20px 24px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -20px 24px 10px rgba(0, 0, 0, 0.75);
}
/* line 40, ../sass/styles.sass */
.navbar .navbar-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 45, ../sass/styles.sass */
.navbar .navbar-content .logoWrap {
  width: 70px;
  max-height: 40px;
  margin-left: 10px;
}
/* line 49, ../sass/styles.sass */
.navbar .navbar-content .logoWrap img {
  width: 100%;
  max-height: 40px;
  object-fit: contain;
}
/* line 53, ../sass/styles.sass */
.navbar .navbar-content .logoWrap img:hover {
  cursor: pointer;
}
/* line 55, ../sass/styles.sass */
.navbar .navbar-content .navbar-links {
  text-align: right;
  display: flex;
  margin-right: 20px;
}
/* line 59, ../sass/styles.sass */
.navbar .navbar-content .navbar-links ul {
  margin: 0;
  height: 50px;
  line-height: 50px;
}
/* line 63, ../sass/styles.sass */
.navbar .navbar-content .navbar-links ul li {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 47, ../sass/_base.sass */
.navbar .navbar-content .navbar-links ul li:hover {
  color: white;
  cursor: pointer;
}
/* line 68, ../sass/styles.sass */
.navbar .navbar-content .navbar-links ul li.is-active {
  color: pink;
}

/* line 70, ../sass/styles.sass */
.dropdown {
  position: absolute;
  width: 100px;
  right: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 77, ../sass/styles.sass */
.dropdown li {
  background-color: #161616;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  color: white;
}
/* line 47, ../sass/_base.sass */
.dropdown li:hover {
  color: white;
  cursor: pointer;
}
/* line 82, ../sass/styles.sass */
.dropdown li:hover {
  background-color: #00aeef;
}

/* line 84, ../sass/styles.sass */
.dropdown.ng-hide-add {
  animation: dropSlidein 200ms cubic-bezier(0, 0, 0.1, 1);
}

/* line 86, ../sass/styles.sass */
.dropdown.ng-hide-remove {
  animation: dropSlideOut 200ms cubic-bezier(0, 0, 0.1, 1);
}

/* line 91, ../sass/styles.sass */
.footer {
  background-color: #00aeef;
  height: 135px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  margin-top: 10px;
}

/* line 100, ../sass/styles.sass */
.footer-content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

/* line 105, ../sass/styles.sass */
.contact {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 0;
  margin-top: 30px;
  margin-right: 300px;
}

/* line 113, ../sass/styles.sass */
.contact-head {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 10px;
}

/* line 118, ../sass/styles.sass */
.contact-info {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

/* line 122, ../sass/styles.sass */
.contact-col {
  max-width: 200px;
  flex-wrap: wrap;
  padding: 0 40px 0 0;
}

/* line 126, ../sass/styles.sass */
.socmed {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-right: 30px;
}

/* line 131, ../sass/styles.sass */
.socmed-img {
  height: 24px;
  margin: 4px;
}
/* line 134, ../sass/styles.sass */
.socmed-img:hover {
  cursor: pointer;
}

/* line 138, ../sass/styles.sass */
.land-page {
  width: 100%;
  min-height: calc(100vh - 299px);
  padding-top: 100px;
  background-color: #e0e0e0;
  display: inline-block;
}

/* line 144, ../sass/styles.sass */
.device-mocks {
  position: absolute;
  top: 150px;
  left: 0;
  width: 20%;
}

/* line 149, ../sass/styles.sass */
#phonemock {
  background-image: url("/src/img/phone-mock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  animation: LandSlide 1800ms cubic-bezier(0, 0, 0.1, 1) forwards;
  animation-delay: 300ms;
  opacity: 0;
  height: 550px;
  width: 175px;
  margin-left: 30px;
  position: absolute;
}

/* line 161, ../sass/styles.sass */
#laptopmock {
  background-image: url("/src/img/laptop-mock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  position: absolute;
  margin: 0;
  opacity: 0;
  animation: LandSlide 1800ms cubic-bezier(0, 0, 0.3, 1) forwards;
  height: 550px;
  width: 1100px;
}

/* line 172, ../sass/styles.sass */
.land-content {
  position: relative;
  z-index: 1;
  float: right;
  width: 30%;
  margin-right: 30px;
  opacity: 0;
  animation: FadeIn 1000ms ease-in forwards;
  animation-delay: 800ms;
}

/* line 181, ../sass/styles.sass */
#phrase {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  width: 100%;
}

/* line 186, ../sass/styles.sass */
.signUpCTA {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #00aeef;
  border: none;
  border-radius: 5px;
  width: 125px !important;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  padding: 10px 25px;
}
/* line 47, ../sass/_base.sass */
.signUpCTA:hover {
  color: white;
  cursor: pointer;
}

/* line 200, ../sass/styles.sass */
.badges {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* line 204, ../sass/styles.sass */
.badges > img {
  height: 40px;
  padding: 0 10px !important;
  margin: 0 !important;
}

/* line 210, ../sass/styles.sass */
.auth-page {
  width: 100%;
  min-height: calc(100vh - 295px);
  display: flex;
  flex-direction: column;
}
/* line 215, ../sass/styles.sass */
.auth-page .auth {
  width: 500px;
  margin: auto;
  transform: translateY(-30%);
  text-align: center;
  animation: FadeIn 500ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 222, ../sass/styles.sass */
.auth-page .auth h1 {
  font-style: bold;
  font-size: 65px;
  color: white;
  display: block;
  margin-bottom: 0;
}
/* line 228, ../sass/styles.sass */
.auth-page .auth h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  color: #00aeef;
  margin: 0 0 20px 0;
  padding-left: 100px;
}
/* line 236, ../sass/styles.sass */
.auth-page .auth input {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 60%;
  border-radius: 3px;
  border: 0;
  height: 30px;
  background-color: white;
  color: #363636;
  padding: 0 10px;
}
/* line 247, ../sass/styles.sass */
.auth-page .auth .signUpCTA {
  margin-top: 20px;
}

/* line 250, ../sass/styles.sass */
.sideNav {
  float: left;
  margin: 0 !important;
  min-width: 200px;
  min-height: 100vh;
  height: 50%;
  background-color: #161616;
  color: white;
  font: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  -webkit-box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 263, ../sass/styles.sass */
.sideNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 268, ../sass/styles.sass */
.sideNav .userInfo {
  padding: 30px 0 0 30px;
  margin: 0;
}
/* line 271, ../sass/styles.sass */
.sideNav .userInfo li {
  cursor: pointer;
}
/* line 273, ../sass/styles.sass */
.sideNav .userInfo li i {
  vertical-align: middle;
  size: 35px;
}
/* line 276, ../sass/styles.sass */
.sideNav .userInfo li h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 10px !important;
  margin: 0;
  padding-left: 15px;
  display: inline;
}
/* line 283, ../sass/styles.sass */
.sideNav .active {
  background-color: #3f3f3f;
}
/* line 285, ../sass/styles.sass */
.sideNav .userLinks {
  margin-top: 30px;
}
/* line 287, ../sass/styles.sass */
.sideNav .userLinks li {
  cursor: pointer;
  padding: 10px 0 10px 30px;
}
/* line 290, ../sass/styles.sass */
.sideNav .userLinks li .userIconWrap {
  display: inline-block;
  width: 20px;
  margin: 0;
}
/* line 294, ../sass/styles.sass */
.sideNav .userLinks li .userIconWrap i {
  vertical-align: middle;
  size: 35px;
}
/* line 297, ../sass/styles.sass */
.sideNav .userLinks li h4 {
  font-weight: 400;
  line-height: 10px !important;
  margin: 0;
  padding-left: 15px;
  display: inline;
  font-size: 14px;
}
/* line 305, ../sass/styles.sass */
.sideNav .userLinks li.active .activeBar {
  position: relative;
  transform: translateY(-10px);
  float: right;
  width: 3px;
  height: 38px;
  background-color: rgba(0, 174, 239, 0.6);
}

/* line 313, ../sass/styles.sass */
.page {
  background-color: #363636;
  width: 100vw;
  display: inline-flex;
  overflow: hidden;
}
/* line 318, ../sass/styles.sass */
.page .content {
  animation: FadeIn 500ms ease;
  color: white;
  display: block;
}

/* line 324, ../sass/styles.sass */
.home-page .home-wrap {
  -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: #161616;
  width: 1000px;
  margin: 0 auto;
}
/* line 329, ../sass/styles.sass */
.home-page .home-wrap .user-wrap {
  margin: 50px 0 0 0;
}
/* line 331, ../sass/styles.sass */
.home-page .home-wrap .user-wrap .userProfPic {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
}
/* line 337, ../sass/styles.sass */
.home-page .home-wrap .user-wrap .username {
  text-align: center;
}
/* line 339, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap {
  display: inline-flex;
  width: 100%;
  margin-top: 30px;
}
/* line 343, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .recent-activity, .home-page .home-wrap .userDisplay-wrap .starred {
  width: 50%;
  height: 400px;
  margin: 0 30px;
}
/* line 348, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .recent-activity table {
  width: 100%;
}
/* line 350, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .recent-activity table th {
  width: 70%;
  text-align: left;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(63, 63, 63, 0.5) !important;
}
/* line 357, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .recent-activity table tbody td {
  padding: 10px 0;
  border-bottom: 1px solid rgba(63, 63, 63, 0.5) !important;
}
/* line 360, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .recent-activity table tbody td:nth-child(2) {
  width: 30%;
  padding-right: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
/* line 366, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred h3 {
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  padding-bottom: 10px;
  margin: 0;
  font-size: 20px;
}
/* line 373, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .nav {
  border: none;
  height: 30px;
}
/* line 377, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .nav li a {
  border: none;
  color: white;
  margin-right: 4px;
  padding: 5px 20px !important;
}
/* line 382, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .nav li a:visited {
  background-color: #00aeef !important;
  border: none;
}
/* line 385, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .nav li a:hover {
  background-color: #00aeef !important;
  border: none;
}
/* line 388, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .nav li.active a {
  border: none;
  background-color: none;
}
/* line 391, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .nav li a:focus {
  background-color: #161616;
  border: none;
}
/* line 394, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .starred-items {
  background-color: #363636;
  height: 300px;
}
/* line 397, ../sass/styles.sass */
.home-page .home-wrap .userDisplay-wrap .starred .starred-items h5 {
  padding: 10px 0 0 10px;
  margin: 0;
  font-weight: 100;
}

/* line 404, ../sass/styles.sass */
.tasks-page .tasks-wrap {
  -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: #161616;
  width: 1000px;
  margin: 0 auto;
}

/* line 411, ../sass/styles.sass */
.stats-page .stats-wrap {
  -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: #161616;
  width: 1000px;
  margin: 0 auto;
}

/* line 418, ../sass/styles.sass */
.notifications-page .notifications-wrap {
  -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: #161616;
  width: 1000px;
  margin: 0 auto;
}

/* line 425, ../sass/styles.sass */
.calendar-page .calendar-wrap {
  background-color: #161616;
  margin: 75px auto;
  width: 1000px;
  height: 700px;
  -webkit-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.3);
}
/* line 431, ../sass/styles.sass */
.calendar-page .calendar-wrap .content {
  height: 100%;
}
/* line 433, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar {
  display: inline-block;
  width: 80%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 438, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header {
  text-align: center;
}
/* line 440, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header .month, .calendar-page .calendar-wrap .content .calendar .header .year {
  display: inline-block;
  font-size: 50px;
  margin: 10px 5px;
}
/* line 444, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header .year {
  font-weight: 100;
  font-style: italic;
}
/* line 447, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header i {
  transform: translateY(-10px);
  margin: 30px;
  color: #00aeef;
  cursor: pointer;
}
/* line 452, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .days, .calendar-page .calendar-wrap .content .calendar .dates {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* line 456, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .days .tile, .calendar-page .calendar-wrap .content .calendar .dates .tile {
  text-align: center;
  min-width: 100px;
}
/* line 459, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .days h4, .calendar-page .calendar-wrap .content .calendar .dates h4 {
  display: inline-block;
  cursor: pointer;
}
/* line 463, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .dates h1 {
  font-size: 50px;
  font-weight: 100;
  margin: 10px 0;
  cursor: pointer;
}
/* line 468, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .dates .tile:hover {
  background-color: rgba(54, 54, 54, 0.5);
  transition: 300ms ease-in;
}
/* line 471, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .dates .dateFade {
  color: #363636;
  font-style: italic;
}
/* line 474, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .dailies {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 20%;
  float: right;
}
/* line 480, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .days-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: calc(623px);
}

@keyframes LandSlide {
  0% {
    transform: translate3d(-2000px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropSlidein {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100px, 0, 0);
  }
}
@keyframes dropSlideOut {
  0% {
    transform: translate3d(100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 1525px) {
  /* line 515, ../sass/styles.sass */
  .land-content {
    display: block;
    position: relative;
  }

  /* line 518, ../sass/styles.sass */
  #laptopmock {
    width: 750px;
  }
}
