@import 'https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,500,700';
@font-face {
  font-family: "SouvenirStd-DemiItalic";
  src: url(../fonts/SouvenirStd-DemiItalic.otf);
}
/* line 47, ../sass/_base.sass */
.ng-scope {
  height: 100%;
}

/* line 4, ../sass/styles.sass */
html {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/styles.sass */
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/styles.sass */
html, body, .app {
  height: 100vh;
  overflow: hidden;
}

/* line 21, ../sass/styles.sass */
.auth-page, .home-page, .settings-page {
  background-color: #363636;
}

/* line 26, ../sass/styles.sass */
.navbar {
  background-color: #00aeef;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}
/* line 36, ../sass/styles.sass */
.navbar .navbar-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 41, ../sass/styles.sass */
.navbar .navbar-content .logoWrap {
  width: 70px;
  max-height: 40px;
  margin-left: 10px;
}
/* line 45, ../sass/styles.sass */
.navbar .navbar-content .logoWrap img {
  width: 100%;
  max-height: 40px;
  object-fit: contain;
}
/* line 49, ../sass/styles.sass */
.navbar .navbar-content .logoWrap img:hover {
  cursor: pointer;
}
/* line 51, ../sass/styles.sass */
.navbar .navbar-content .navbar-links {
  text-align: right;
  display: flex;
  margin-right: 20px;
}
/* line 55, ../sass/styles.sass */
.navbar .navbar-content .navbar-links ul {
  margin: 0;
  height: 50px;
  line-height: 50px;
}
/* line 59, ../sass/styles.sass */
.navbar .navbar-content .navbar-links ul li {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
}
/* line 36, ../sass/_base.sass */
.navbar .navbar-content .navbar-links ul li:hover {
  color: white;
  cursor: pointer;
}
/* line 64, ../sass/styles.sass */
.navbar .navbar-content .navbar-links ul li.is-active {
  color: pink;
}

/* line 66, ../sass/styles.sass */
.dropdown {
  position: absolute;
  width: 100px;
  right: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 73, ../sass/styles.sass */
.dropdown li {
  background-color: #161616;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  color: white;
}
/* line 36, ../sass/_base.sass */
.dropdown li:hover {
  color: white;
  cursor: pointer;
}
/* line 78, ../sass/styles.sass */
.dropdown li:hover {
  background-color: #00aeef;
}

/* line 80, ../sass/styles.sass */
.dropdown.ng-hide-add {
  animation: dropSlidein 200ms cubic-bezier(0, 0, 0.1, 1);
}

/* line 82, ../sass/styles.sass */
.dropdown.ng-hide-remove {
  animation: dropSlideOut 200ms cubic-bezier(0, 0, 0.1, 1);
}

/* line 87, ../sass/styles.sass */
.footer {
  background-color: #00aeef;
  height: 135px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  margin-top: 10px;
}

/* line 96, ../sass/styles.sass */
.footer-content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

/* line 101, ../sass/styles.sass */
.contact {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 0;
  margin-top: 30px;
  margin-right: 300px;
}

/* line 109, ../sass/styles.sass */
.contact-head {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 10px;
}

/* line 114, ../sass/styles.sass */
.contact-info {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

/* line 118, ../sass/styles.sass */
.contact-col {
  max-width: 200px;
  flex-wrap: wrap;
  padding: 0 40px 0 0;
}

/* line 122, ../sass/styles.sass */
.socmed {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-right: 30px;
}

/* line 127, ../sass/styles.sass */
.socmed-img {
  height: 24px;
  margin: 4px;
}
/* line 130, ../sass/styles.sass */
.socmed-img:hover {
  cursor: pointer;
}

/* line 134, ../sass/styles.sass */
.land-page {
  width: 100%;
  min-height: calc(100vh - 299px);
  margin-top: 100px;
  background-color: #e0e0e0;
  display: inline-block;
}

/* line 140, ../sass/styles.sass */
.device-mocks {
  position: absolute;
  top: 150px;
  left: 0;
  width: 20%;
}

/* line 145, ../sass/styles.sass */
#phonemock {
  background-image: url("../img/phone-mock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  animation: LandSlide 1800ms cubic-bezier(0, 0, 0.1, 1) forwards;
  animation-delay: 300ms;
  opacity: 0;
  height: 550px;
  width: 175px;
  margin-left: 30px;
  position: absolute;
}

/* line 157, ../sass/styles.sass */
#laptopmock {
  background-image: url("../img/laptop-mock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  position: absolute;
  margin: 0;
  opacity: 0;
  animation: LandSlide 1800ms cubic-bezier(0, 0, 0.3, 1) forwards;
  height: 550px;
  width: 1100px;
}

/* line 168, ../sass/styles.sass */
.land-content {
  position: relative;
  z-index: 1;
  float: right;
  width: 30%;
  margin-right: 30px;
  opacity: 0;
  animation: FadeIn 1000ms ease-in forwards;
  animation-delay: 800ms;
}

/* line 177, ../sass/styles.sass */
#phrase {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  width: 100%;
}

/* line 182, ../sass/styles.sass */
.signUpCTA {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #00aeef;
  border: none;
  border-radius: 5px;
  width: 75px;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  padding: 10px 25px;
}
/* line 36, ../sass/_base.sass */
.signUpCTA:hover {
  color: white;
  cursor: pointer;
}

/* line 196, ../sass/styles.sass */
.badges {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* line 200, ../sass/styles.sass */
.badges > img {
  height: 40px;
  padding: 0 10px !important;
  margin: 0 !important;
}

/* line 206, ../sass/styles.sass */
.auth-page {
  width: 100%;
  min-height: calc(100vh - 295px);
  display: flex;
  flex-direction: column;
}
/* line 211, ../sass/styles.sass */
.auth-page .auth {
  width: 500px;
  margin: 100px auto 0 auto;
  text-align: center;
  animation: FadeIn 500ms ease;
}
/* line 216, ../sass/styles.sass */
.auth-page .auth h1 {
  font-style: bold;
  font-size: 65px;
  color: white;
  display: block;
  margin-bottom: 0;
}
/* line 222, ../sass/styles.sass */
.auth-page .auth h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  color: #00aeef;
  margin-top: 0;
  padding-left: 100px;
}
/* line 230, ../sass/styles.sass */
.auth-page .auth input {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 60%;
  border-radius: 2px;
  border: 0;
  height: 20px;
  background-color: white;
  color: #363636;
  padding: 10px;
}

/* line 242, ../sass/styles.sass */
.sidenav {
  float: left;
  margin: 0 !important;
  min-width: 200px;
  min-height: 100vh;
  height: 50%;
  background-color: #161616;
  color: white;
  font: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  -webkit-box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.4);
}
/* line 255, ../sass/styles.sass */
.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 263, ../sass/styles.sass */
.sidenav .userInfo {
  padding: 30px 0 0 30px;
}
/* line 265, ../sass/styles.sass */
.sidenav .userInfo li {
  cursor: pointer;
}
/* line 267, ../sass/styles.sass */
.sidenav .userInfo li i {
  vertical-align: middle;
  size: 35px;
}
/* line 270, ../sass/styles.sass */
.sidenav .userInfo li h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 10px !important;
  margin: 0;
  padding-left: 15px;
  display: inline;
}
/* line 277, ../sass/styles.sass */
.sidenav .active {
  background-color: #3f3f3f;
}
/* line 279, ../sass/styles.sass */
.sidenav .userLinks {
  margin-top: 30px;
}
/* line 281, ../sass/styles.sass */
.sidenav .userLinks li {
  cursor: pointer;
  padding: 10px 0 10px 30px;
}
/* line 284, ../sass/styles.sass */
.sidenav .userLinks li .userIconWrap {
  display: inline-block;
  width: 20px;
  margin: 0;
}
/* line 288, ../sass/styles.sass */
.sidenav .userLinks li .userIconWrap i {
  vertical-align: middle;
  size: 35px;
}
/* line 291, ../sass/styles.sass */
.sidenav .userLinks li h4 {
  font-weight: 400;
  line-height: 10px !important;
  margin: 0;
  padding-left: 15px;
  display: inline;
  font-size: 14px;
}
/* line 299, ../sass/styles.sass */
.sidenav .userLinks li.active .activeBar {
  position: relative;
  transform: translateY(-10px);
  float: right;
  width: 3px;
  height: 38px;
  background-color: rgba(0, 174, 239, 0.6);
}

/* line 307, ../sass/styles.sass */
.page {
  background-color: #363636;
  width: 100vw;
  display: inline-flex;
}
/* line 311, ../sass/styles.sass */
.page .content {
  animation: FadeIn 500ms ease;
  color: white;
  display: block;
}

/* line 316, ../sass/styles.sass */
.calendar-page {
  overflow: scroll;
}
/* line 318, ../sass/styles.sass */
.calendar-page .calendar-wrap {
  background-color: #161616;
  margin: 75px auto 75px auto;
  width: 1000px;
  height: 700px;
}
/* line 323, ../sass/styles.sass */
.calendar-page .calendar-wrap .content {
  height: 100%;
}
/* line 325, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar {
  display: inline-block;
  width: 80%;
  height: 100%;
}
/* line 329, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header {
  text-align: center;
}
/* line 331, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header .month, .calendar-page .calendar-wrap .content .calendar .header .year {
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  margin: 10px 5px;
}
/* line 336, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header .year {
  font-weight: 100;
  font-style: italic;
}
/* line 339, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .header i {
  transform: translateY(-10px);
  margin: 30px;
  color: #00aeef;
}
/* line 343, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .days, .calendar-page .calendar-wrap .content .calendar .dates {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* line 347, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .days .tile, .calendar-page .calendar-wrap .content .calendar .dates .tile {
  text-align: center;
  min-width: 100px;
}
/* line 350, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .days h4, .calendar-page .calendar-wrap .content .calendar .dates h4 {
  display: inline-block;
  cursor: pointer;
}
/* line 354, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .dates h1 {
  font-size: 50px;
  font-weight: 100;
  margin: 10px 0;
  cursor: pointer;
}
/* line 359, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .dates .tile:hover {
  background-color: rgba(54, 54, 54, 0.5);
  transition: 300ms ease-in;
}
/* line 362, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .calendar .dates .dateFade {
  color: #363636;
  font-style: italic;
}
/* line 365, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .dailies {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 20%;
  float: right;
}
/* line 371, ../sass/styles.sass */
.calendar-page .calendar-wrap .content .days-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: calc(623px);
}

@keyframes LandSlide {
  0% {
    transform: translate3d(-2000px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropSlidein {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100px, 0, 0);
  }
}
@keyframes dropSlideOut {
  0% {
    transform: translate3d(100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 1525px) {
  /* line 407, ../sass/styles.sass */
  .land-content {
    display: block;
    position: relative;
  }

  /* line 410, ../sass/styles.sass */
  #laptopmock {
    width: 750px;
  }
}
