<ng-include src="'/src/partials/Nav.html'" ng-if="showNav"></ng-include>
<div class="calendar-page page">
  <ng-include src="'/src/partials/SideNav.html'"></ng-include>
  <div class="calendar-wrap">
    <div class="content">
      <div class="calendar">
        <div class="header">
          <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
          <h1 class="month">July</h1>
          <h1 class="year">2016</h1>
          <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
        </div>
        <div class="days-wrap">
          <div class="days">
            <div class="tile"><h4>Su</h4></div>
            <div class="tile"><h4>Mo</h4></div>
            <div class="tile"><h4>Tu</h4></div>
            <div class="tile"><h4>We</h4></div>
            <div class="tile"><h4>Th</h4></div>
            <div class="tile"><h4>Fr</h4></div>
            <div class="tile"><h4>Sa</h4></div>
          </div>
          <div class="dates">
            <div class="tile dateFade"><h1>26</h1></div>
            <div class="tile dateFade"><h1>27</h1></div>
            <div class="tile dateFade"><h1>28</h1></div>
            <div class="tile dateFade"><h1>29</h1></div>
            <div class="tile dateFade"><h1>30</h1></div>
            <div class="tile"><h1>1</h1></div>
            <div class="tile"><h1>2</h1></div>
          </div>
          <div class="dates">
            <div class="tile"><h1>3</h1></div>
            <div class="tile"><h1>4</h1></div>
            <div class="tile"><h1>5</h1></div>
            <div class="tile"><h1>6</h1></div>
            <div class="tile"><h1>7</h1></div>
            <div class="tile"><h1>8</h1></div>
            <div class="tile"><h1>9</h1></div>
          </div>
          <div class="dates">
            <div class="tile"><h1>10</h1></div>
            <div class="tile"><h1>11</h1></div>
            <div class="tile"><h1>12</h1></div>
            <div class="tile"><h1>13</h1></div>
            <div class="tile"><h1>14</h1></div>
            <div class="tile"><h1>15</h1></div>
            <div class="tile"><h1>16</h1></div>
          </div>
          <div class="dates">
            <div class="tile"><h1>17</h1></div>
            <div class="tile"><h1>18</h1></div>
            <div class="tile"><h1>19</h1></div>
            <div class="tile"><h1>20</h1></div>
            <div class="tile"><h1>21</h1></div>
            <div class="tile"><h1>22</h1></div>
            <div class="tile"><h1>23</h1></div>
          </div>
          <div class="dates">
            <div class="tile"><h1>24</h1></div>
            <div class="tile"><h1>25</h1></div>
            <div class="tile"><h1>26</h1></div>
            <div class="tile"><h1>27</h1></div>
            <div class="tile"><h1>28</h1></div>
            <div class="tile"><h1>29</h1></div>
            <div class="tile"><h1>30</h1></div>
          </div>
          <div class="dates">
            <div class="tile"><h1>31</h1></div>
            <div class="tile dateFade"><h1>1</h1></div>
            <div class="tile dateFade"><h1>2</h1></div>
            <div class="tile dateFade"><h1>3</h1></div>
            <div class="tile dateFade"><h1>4</h1></div>
            <div class="tile dateFade"><h1>5</h1></div>
            <div class="tile dateFade"><h1>6</h1></div>
          </div>
        </div>
      </div>
      <div class="dailies">
        <h3>To do</h3>
      </div>
    </div>
  </div>
</div>
